@charset "utf-8";
/* CSS Document */

* {
    padding: 0px;
    margin: 0px;
}

html {
	overflow: auto;
}

body {
    background: #36a; /* url(../images/body.png);*/
    font-family: "helvetica", arial, sans-serif;
    font-size: 14px;

}


h1, h2, h3, h4, h5, h6 {

    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


li {
    list-style: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


img {
    border: none;
}

#logo {
	text-align: center;
}


#topo-admin {
    width: 100%;
    height: 127px;
    background: url(../images/head.png);
    position: relative;
    margin: 0px 0px;
	
}

.head {
    width: 940px;
    margin: 0 auto;
}


#menu-topo {
    width: 100%;
    min-height: 32px;
    background: #036;
    display: table;
}

#menu-topo-content {
    margin: 0px auto;
    width: 930px;
    min-height: 35px;
    display: table;
    text-align: center;

}

#wrapper {
    margin: 0px auto;
    position: relative;

}

#pre-casing {
    background: url(../images/back-content.png) repeat-y;
    width: 940px;
    height:100%;
    margin: 0px auto;
}

#container-login {

    width: 400px;
    display: table;
    margin: auto;
    box-shadow: 0 0 4px #000000;
    background: #fff;
	border-radius: 7px;
}



#rodape {
    margin: auto;
    width: 390px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
	box-shadow: 0 0 4px #000000;
    background: #036;
	color: #eee;
	border-radius: 7px;
	padding: 10px;

}


#topo-login {
    padding: 10px;
	margin: 5px;
	border-radius: 4px;
    width: 380px;
    height: 20px;
    float: left;
    background: #333;
    color: #fff;
    background: url(../images/topo-login.jpg);
    font-weight: bold;
}

#imagem-login {
    margin-top: 10px;
    margin-left: 10px;
    width: 90px;
    height: 158px;
    float:left;
    background:url(../images/cadeado.png) no-repeat;
}

#conteudo-login {
    width: 288px;
    height: 170px;
    float: left;
    margin-top: 20px;
    padding: 5px;

}

#conteudo-login p {
    margin-bottom: 10px;
}

#conteudo-login p.submit {
	text-align: right;
	width: 260px;
	
}

#conteudo-login label {
    float: left;
    text-align: right;
    width: 20px;
    padding: 5px;
	/*background: #ccc url(../images/userlogin.png) no-repeat;*/
}

#conteudo-login input.field {
    padding: 5px;
    border: 1px solid #ccc;
    width: 220px;
    color: #006;
	border-radius: 4px;
}

#conteudo-login input.field:hover {
	border: 1px solid #069;
	box-shadow: 0 0 4px #069;
}

#conteudo-login select.field {
    padding: 5px;
    border: 1px solid #006;
    width: 200px;
    color: #006;
}



#conteudo-login input.button {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
	background: #069;
	box-shadow: 0 0 4px #000000;
	border: none;
}

#conteudo-login input.button:hover {
    color: #ccc;
	background: #069;
}

#login-container {
    width: 400px;
    margin: 0 auto;
    display: table;
}
#mensagem {
    color: #600;
    font-size: 12px;
    float: left;
    width: 920px;
    height: 20px;
    padding-top: 5px;
    text-align: right;

    font-weight: bold;
}

#conteudo {
    width: 925px;
    min-height: 400px;
    margin-top: 10px;
    background: #fff;
    float: left;
	padding-left: 10px;
}

#form-empresa {
    float:left;

    width: 450px;
    height: 300px;
    background: #ffe;
    text-align: right;
    margin-left: 235px;
    margin-top: 20px;
    border: 1px dotted #333;
}

#form-empresa h3 {
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #069;
    display: block;
    background: #ff6;

}

#menu-listagem {
    float:left;
    padding: 5px;
    width: 888px;
    height: 58px;
    background: #eee;
    text-align: left;
    margin-bottom: 10px;
    border: 1px dotted #999;

}

#menu-listagem-titulo {
    float:left;
    width: 300px;
    height: 20px;
    margin-top: 20px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;

}

#menu-botoes {
    float:right;

    width: 500px;
    height: 60px;


    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    text-align: right;
}



#menu-botoes img {
    margin-left: 10px;

}

#menu-botoes img:hover {
    background: #f90;
}

#menu-botoes a {
    display: inline-block;





}


#menu-filtro {
    float:left;
    padding: 5px;
    width: 890px;
    height: 30px;
    background: #fff;
    text-align: left;


}

#listagem {	
    float:left;

    width: 900px;
    margin-top: 10px;
}

#listagem table {
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid #333;
}

#listagem table.realce tr:hover {
    background: #ffc;
}

#listagem th {
    color: #00f;
    padding: 10px;
    margin: 0px;
    background: #eee;
    border-bottom: 1px solid #999;
}

#listagem tr {

    padding: 10px;
}


#listagem tr.even {
    background: #eee;
} 

#listagem tr.odd {
    background: #fff;
}

#listagem td.left {
    text-align: left;
}

#listagem td.center {
    text-align: center;
}

#listagem p {
    text-align: right;
    margin-top: 5px;
}

#texto input {
    border: 1px solid #ccc;
}

#mensagem-operacao {
    float:left;
    width: 900px;
    height: 25px;

    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #900;
}


.box {
    float: left;
    padding-top:5px;
    padding-bottom:5px;
    width: 290px;
    height: 50px;
    background: #eee;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;


}

.box:hover {
    background: #f90;

}

.box-titulo {
    float:left;
    padding: 5px;
    width: 910px;
    height: 50px;
    background: #000;
    text-align: left;
    margin-bottom: 10px;
    color: #fff;


}


.box img {

    margin: 0 10px 0 0 ;
}

.box a {
    padding: 5px;

    color: #333;
}

.box a:hover {
    color: #666;

}



.error-message {
    color: #f00;
}

.marca-texto {
    background: #ff0;
}

.titulo-input {
    float: left;

    width: 70px;
    padding: 4px;
}


.content {
    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.content h2 {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px dotted #333;
}

.content a {
    color: #333;
}

.content a:hover {
    text-decoration: underline;
}

.content table {
    width: 100%; margin-top: 10px; margin-bottom: 30px;
}

.content tr.header {
    font-weight: bold; background: #f90; color: #fff;

}

.content th.id {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content th.oferta {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
}

.content th.empresa {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
}

.content th.descricao {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

.content th.pergunta  {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
}

.content th.datacad {
    width: 40%;
}


.content th.parceiro {
    width: 10%;
}

.content th.status {
    width: 17%;

}

.content p.status {
    line-height: 20px;
}

.content th.cidade {
    width: 30%;
}

.content th.operacao {
    width: 10%;
    padding-right: 10px;
}

.content tr.separador {
    height: 10px;
}

.content tr.odd {
    background: #fff;
}

.content tr.odd:hover {
    background: #ff0;
}

.content tr.even {
    background: #eee;
}

.content tr.even:hover {
    background: #ff0;
}

.content tr.cidades {

    background: #ff6;
}

.content tr.total {
    border-top: 1px solid #000;
}

.content td.cidades {
    border-bottom: 1px dotted #000;
    padding: 5px;
}

.content td.id {
    text-align: center; padding: 5px 10px 5px 10px;
}

.content td.titulo {
    padding: 10px;
    font-weight: bold;
}

.content td.center {
    text-align: center;
}

.content td.right {
    text-align: right;
}

.content td.total {
    font-weight: bold;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content td.rodape {
    border-top: 2px solid #000;
    border-bottom: 5px double #000;
    font-weight: bold;
}

.content p.resultado {
    padding: 10px;
    color: #060;
    text-align: right;
    margin-top:20px;
}

.content .paginacao {
    margin-top: 10px;
    width: 870px;
    min-height: 15px;
    background: #f1f1f1;
    padding: 10px;
    text-align: center;
    display: table;
}

.content .paginacao a {
    color: #666;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

a.pagina {
    background: #fff;
    font-weight: bold;
}

.compras {
    width: 100%;
    background: #eee;
}


.compras-menu a {
    display: block;
    padding: 5px;
    color: #333;
    background: #ffc;
    margin-bottom: 5px;
}

.compras-menu a:hover {
    background: #333;
    color: #ff0;
}

.compras-menu {
    float: left;
    width: 200px;
}

.form-perguntas input {

    padding: 5px;
}
.painel-perguntas {
    width: 100%;
    margin-top: 10px;
}

.painel-perguntas label {
    width: 100px;
    margin-left: 100px;

}

.painel-perguntas input {
    padding: 5px;

}

.painel-perguntas select.field{
    padding: 5px;
    width: 200px;
    border: 2px solid #069;
    background: #0ef;
    margin-left: 10px;

}

.toolbox {
	/* background: #000; */
	width: 100%;
	height: 50px;
}

.toolbox input.button {
	padding: 5px;
	color: #039;
}

.content .painel {
	display: table;
	margin: 0 auto;
    width: 500px;
    height: 300px;
}

.content .painel p {
	margin-bottom: 10px;
}

.content .painel input {
	padding: 5px;
}

.content .painel label {
	margin-left: 100px;
	width: 200px;
	text-align: right;
}

.content .painel input.f-descricao {
	width: 200px;
}

.main {
	width: 100%;
    display: table;
    margin-bottom: 10px;
}


.main h2 {
	display: block;
    margin-bottom: 10px;
	padding: 5px;
	background: #f90;
}

.main li {
	width: 100px;
	display: inline-block;
	background: #f90;
	padding: 10px;
}

.main li a {
	color: #fff;
}

.modify {
	width: 880px;
	float: left;
	display: none;
	margin-bottom: 10px;
	padding: 10px;
}

.modify fieldset {
	padding: 10px;
	background: #eee;
	margin-bottom: 10px;
}

.modify input {
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#modify p {
	padding: 10px;
}

.progress-bar {
	float: left;
	padding: 10px;
	/* background: #ff0; */
	width: 900px;
	text-align: right;
	
}

.carregando {
	padding: 2px;
	color: #fff;
}


.changeqtde {
	width: 880px;
	float: left;
	display: none;
	margin-bottom: 10px;
	padding: 10px;
}

.changeqtde fieldset {
	padding: 10px;
	background: #eee;
	margin-bottom: 10px;
}

.changeqtde input {
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.module-item {
	/*background: #ff0;*/
	padding: 10px;
	width: 260px;
	height: 100px;
	margin: 10px;
	float: left;
}

.module-item a {
	width: 250px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: #1E5A96;
	display: block;
	margin-bottom: 10px;
}
.module-item img {
	float: left;
}
.module-item a span {
	font-size: 28px;
	line-height: 48px;
	margin-left: 10px;
}

.module-item > span {
	color: #666;
	font-style: italic;
	font-size: 14px;
}


.menu-item {

	width: 50px;
	min-height: 50px;
	float: left;
	text-align: center;
}
.menu-item img {
	float: left;
	padding: 10px;
}

/*
.menu-item a {

	font-size: 18px;
	font-weight: bold;
	color: #1E5A96;
	display: block;
}
*/
.menu-item a span {
	font-size: 13px;
	font-weight: bold;
}

.dropdown {
	
	background: #ff0;
	overflow: hidden;
}

.incluir, .alterar {
	width: 905px;
	float: left;
	display: none;
	margin-bottom: 100px;
	padding: 10px;
}

.incluir fieldset, .alterar fieldset {
	padding: 10px;
	background: #eee;
	margin-bottom: 10px;
}

.incluir input, .alterar input {
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.incluir label, .alterar label {
	text-align: right;
}

.incluir select, .alterar select {
	padding: 5px;
}

.incluir legend, .alterar legend {
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	background: #eee;
	color: #333;
	border: 1px solid #999;
}

.incluir .field, .alterar .field {
	float: left;
	min-width: 300px;
	height: 25px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.incluir .label, .alterar .label {
	clear: both;
	float: left;
	width: 300px;
	height: 25px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;

}


.flexigrid div.fbutton .add {
	background: url(../images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
	background: url(../images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .update {
	background: url(../images/update.png) no-repeat center left;
}



.msgbox {
	float: left;
	width: 880px;
	height: 20px;
	padding: 10px;
	font-weight: bold;
}

